/* Global Block Editor Sidebar Styles */
.recipes-required:invalid, .editor-post-featured-image__preview {
	border: 1px solid #cc1818;
}
label:has(+ *:required):after, .recipes-required .components-base-control__label:after {
	content: '*';
	color: #cc1818;
}
.editor-post-featured-image__toggle:has(img) {
	height: auto;
}
.is-link.is-destructive {
	margin-top: 10px;
}
.components-base-control:has(label[for="social-icon-selector"]) .components-button.is-primary {
 background: rgb(254, 250, 224);
}