/* Global Block Editor Iframe Styles */

/*All styles must be scoped to .editor-styles-wrapper */

/*Error styles*/
.editor-styles-wrapper .recipes-error {
	border: 1px solid red;
	padding: 15px;
	color: #D8000c;
	background: #FFBABA;
	margin: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 18px;
}
.has-requirement-error {
	border: 1px solid red;
}
/*Adjustment for page title*/
.editor-styles-wrapper .wp-block-post-title  {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 10px;
}
