/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-lw-recipes-recipe-post-nav {
	border-top: 1px solid #606C38;
	border-bottom: 1px solid #606C38;
	font-family: 'Roboto', sans-serif;
	padding-left: 10px;
	padding-right: 10px;

	ul {
		padding-top: 8px;
		padding-bottom: 8px;
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		list-style-type: none;
		justify-content: space-between;

		a {
			color: #606C38;
			text-decoration: none;
		}
	}

	@import '../../assets/error.scss';

}
