/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-lw-recipes-footer {
	border: 1px dotted black;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	font-family: 'Roboto', sans-serif;

	.logo > img {
		width: 300px;
		height: auto;
	}

	.menu-area {
		justify-self: end;
	}

	.menu ul {
		padding-left: 0;
		list-style-type: none;
		display: flex;
		column-gap: 96px;

		a {
			color: rgb(96, 108, 56);
			text-decoration: none;
		}
	}
	.wp-block-lw-recipes-social-media {
		border: 1px dotted #000;

		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			gap: 24px;
		}

	}
}
