/* Global Block Editor Sidebar Styles */
.recipes-required:invalid, .recipes-required .editor-post-featured-image__preview {
	border: 1px solid #cc1818;
}
.recipes-media-btn.editor-post-featured-image__preview {
	background-image: none;
}
label:has(+ *:required):after, .recipes-required .components-base-control__label:after {
	content: '*';
	color: #cc1818;
}
.editor-post-featured-image__toggle:has(img) {
	height: auto;
}
.is-link.is-destructive {
	margin-top: 10px;
}
.components-base-control:has(label[for="social-icon-selector"]) .components-button.is-primary {
 background: rgb(254, 250, 224);
}
.recipe-details-panel div:has(.components-combobox-control) + div:has(.components-combobox-control) {
	margin-top: 24px;
}

/* Needed for styling the popover for the social media item block, as popover styles are outside of the 
   Gutenberg iframe */
.social-media-item .components-button.is-primary {
	background: #FEFAE0;
}
.social-media-item .components-button {
	justify-content: center;
}
.social-media-item .components-button:hover,
.social-media-item .components-button.is-primary:hover {
	background: #FEFAE0;
}