/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-lw-recipes-recipe-complex {
	border: 1px dotted black;
	padding: 10px;
	font-family: 'Roboto', sans-serif;


}
